<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />

  <arg name="mav_name" default="ddk"/>

  <group ns="$(arg mav_name)">
  
    <node name="Navigator" pkg="ddk_nav_2d" type="navigator" output="screen" >
      <remap from="jps_plan_service" to="jps2d_plan_service"/>

      <param name="min_recheck_period" type="double" value="15.0"/>
      <param name="server_wait_timeout" type="double" value="3.0"/>
      <param name="map_frame" type="string" value="ddk/odom"/>
      <param name="robot_frame_" type="string" value="ddk/base_link"/>

      <!-- cell robot radius is used to clean the robot footprint in occupancy map -->
      <param name="cell_robot_radius" type="int" value="1"/>
      <!-- frequency means the frequency of the exploration while loop -->
      <param name="frequency" type="double" value="2"/>
      <!-- thredhold value of occupied cell in occupancy grid -->
      <param name="occupied_cell_threshold" type="int" value="1"/>
      <param name="map_inflation_radius" type="double" value="0.5"/>

      <param name="flight_height" type="double" value="1.2"/>
      <param name="goal_recheck" type="bool" value="true"/>
      <param name="obstacle_scan_range" type="double" value="1.0"/>
      <param name="goal_frontier_num_threshold" type="int" value="30" />

    </node>
    <node name="Explore" pkg="ddk_nav_2d" type="explore_client" />
  
 
    <!-- <node name="mapping" pkg="ddk_nav_2d" type="mapping" output="screen">
      <remap from="/sdf_map/cloud" to="rgbd/depth/points" />
      <remap from="/sdf_map/odom" to="ground_truth/odom" />
     
      <param name="sdf_map/resolution"      value="0.1" /> 
      <param name="sdf_map/map_size_x" value="40.0"/>
      <param name="sdf_map/map_size_y" value="20.0"/>
      <param name="sdf_map/map_size_z" value=" 5.0"/> 
      <param name="sdf_map/local_update_range_x"  value="5.5" /> 
      <param name="sdf_map/local_update_range_y"  value="5.5" /> 
      <param name="sdf_map/local_update_range_z"  value="4.5" /> 
      <param name="sdf_map/obstacles_inflation"     value="0.099" /> 
      <param name="sdf_map/local_bound_inflate"    value="0.0"/>
      <param name="sdf_map/local_map_margin" value="50"/>
      <param name="sdf_map/ground_height"        value="-1.0"/> -->
      <!-- camera parameter -->
      <!-- <param name="cx" value="321.04638671875"/> -->
      <!-- <param name="cy" value="243.44969177246094"/> -->
      <!-- <param name="fx" value="387.229248046875"/> -->
      <!-- <param name="fy" value="387.229248046875"/> -->
      <!-- depth filter -->
      <!-- <param name="sdf_map/use_depth_filter" value="true"/>
      <param name="sdf_map/depth_filter_tolerance" value="0.15"/>
      <param name="sdf_map/depth_filter_maxdist"   value="5.0"/>
      <param name="sdf_map/depth_filter_mindist"   value="0.2"/>
      <param name="sdf_map/depth_filter_margin"    value="2"/>
      <param name="sdf_map/k_depth_scaling_factor" value="1000.0"/>
      <param name="sdf_map/skip_pixel" value="2"/> -->
      <!-- local fusion -->
      <!-- <param name="sdf_map/p_hit"  value="0.65"/>
      <param name="sdf_map/p_miss" value="0.35"/>
      <param name="sdf_map/p_min"  value="0.12"/>
      <param name="sdf_map/p_max"  value="0.90"/>
      <param name="sdf_map/p_occ"  value="0.80"/>
      <param name="sdf_map/min_ray_length" value="0.5"/>
      <param name="sdf_map/max_ray_length" value="4.5"/> -->

      <!-- <param name="sdf_map/esdf_slice_height" value="0.3"/>
      <param name="sdf_map/visualization_truncate_height"   value="2.49"/>
      <param name="sdf_map/virtual_ceil_height"   value="2.5"/>
      <param name="sdf_map/show_occ_time"  value="false"/>
      <param name="sdf_map/show_esdf_time" value="false"/>
      <param name="sdf_map/pose_type"     value="1"/>  
      <param name="sdf_map/frame_id"      value="/ddk/odom"/> -->

    <!-- </node> -->
  </group>

</launch>
