<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />

  <arg name="mav_name" default="ddk"/>

  <group ns="$(arg mav_name)">
  
    <node name="Navigator" pkg="ddk_nav_2d" type="navigator" output="screen">
      <remap from="jps_plan_service" to="jps2d_plan_service"/>

      <param name="min_recheck_period" type="double" value="8.0"/>
      <param name="server_wait_timeout" type="double" value="3.0"/>
      <param name="map_frame" type="string" value="ddk/odom"/>
      <param name="robot_frame_" type="string" value="ddk/base_link"/>

      <!-- cell robot radius is used to clean the robot footprint in occupancy map -->
      <param name="cell_robot_radius" type="int" value="1"/>
      <!-- frequency means the frequency of the exploration while loop -->
      <param name="frequency" type="double" value="2"/>
      <!-- thredhold value of occupied cell in occupancy grid -->
      <param name="occupied_cell_threshold" type="int" value="1"/>

    </node>
    <node name="Explore" pkg="ddk_nav_2d" type="explore_client" />
  
  </group>

</launch>
