<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />
	<rosparam file="$(find ddk_sim_launch)/param/my_ddk_nav.yaml"/>

	<!-- Start the Navigator to move the robot autonomously -->
	<!-- <node name="Navigator" pkg="ddk_nav_2d" type="navigator">
		<rosparam file="$(find comcast_launch)/param/navigator.yaml"/>
	</node> -->

	<node name="Navigator" pkg="ddk_nav_2d" type="navigator" />

	<node name="GetMap" pkg="ddk_nav_2d" type="get_map_client" />
	<node name="Explore" pkg="ddk_nav_2d" type="explore_client" />

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find ddk_sim_launch)/param/comcast_nav.rviz" />

</launch>
