<launch>

  <arg name="mav_name" default="ddk"/>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" ns="$(arg mav_name)">
		<param name="resolution" value="0.05" />

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="ddk/odom" />

        <param name="resolution" type="double" value="0.05" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="rgbd/depth/points" />
        <!-- <param name="base_frame_id" type="string" value="/ddk/ground_truth/odom"/> -->

        <param name="latch" type="bool" value="false"/>

		<param name="occupancy_min_z" value="0.05"/>

		<param name="occupancy_max_z" value="0.5"/>

	</node>

	<!-- <node pkg="tf" type="static_transform_publisher" name="camera_to_map" args="0 0 0 0 0 1.5708 ddk/rgbd_depth_optical_frame /map 100" /> -->
</launch>